analyzestringsunfiltered,--analyzestrings_unfiltered
apicalldepth0,--apicalldepth 0
apicalldepth1,--apicalldepth 1
apicalldepth50,--apicalldepth 50
apicalldepth80,--apicalldepth 80
apicalldepth90,--apicalldepth 90
apicalldepth100,--apicalldepth 100
apicalldepth110,--apicalldepth 110
apicalldepth120,--apicalldepth 120
apicalldepth150,--apicalldepth 150
apicalldepth200,--apicalldepth 200
apicalldepth600,--apicalldepth 600
filetransforms,--filetransforms
ignoreexceptionflows,--ignoreexceptionflows
ignorenocontextflows,--ignorenocontextflows
implicitflow,--implicitflow
imprecisestrings,--imprecisestrings
kobjsens1,--kobjsens 1
kobjsens2,--kobjsens 2
kobjsens3,--kobjsens 3
kobjsens4,--kobjsens 4
kobjsens5,--kobjsens 5
kobjsens6,--kobjsens 6
kobjsens18,--kobjsens 18
limitcontextforcomplex,--limitcontextforcomplex
limitcontextforgui,--limitcontextforgui
limitcontextforstrings,--limitcontextforstrings
multipassfb,--multipassfb
noarrayindex,--noarrayindex
noclinitcontext,--noclinitcontext
noclonestatics,--noclonestatics
nofallback,--nofallback
nojsa,--nojsa
noscalaropts,--noscalaropts
nova,--nova
preciseinfoflow,--preciseinfoflow
ptaspark,--pta spark
ptapaddle,--pta paddle
ptageo,--pta geo
trackallflows,--trackallflows
transfertaintfield,--transfertaintfield
typesforcontext,--typesforcontext