--analyzestrings_unfiltered
--apicalldepth 1
--apicalldepth 2
--apicalldepth 3
--apicalldepth 4
--apicalldepth 5
--apicalldepth 6
--apicalldepth 7
--apicalldepth 8
--apicalldepth 9
--apicalldepth 10
--apicalldepth 20
--apicalldepth 30
--apicalldepth 40
--apicalldepth 50
--apicalldepth 100
--filetransforms
--ignoreexceptionflows
--ifnorenocontextflows
--implicitflow
--impreciststrings
--kobjsens 1
--kobjsens 2
--kobjsens 3
--kobjsens 4
--kobjsens 5
--kobjsens 6
--kobjsens 7
--kobjsens 8
--kobjsens 9
--kobjsens 10
--kobjsens 20
--kobjsens 30
--kobjsens 40
--kobjsens 50
--kobjsens 100
--limitcontextforcomplex
--limitcontextforgui
--limitcontextforstrings
--multipassfb
--noarrayindex
--noclinitcontext
--noclonestatics
--nofallback
--nojsa
--noscalaropts
--nova
--precision 0
--precision 1
--precision 2
--precision 3
--precision 4
--precision 5
--preciseinfoflow
--pta spark
--pta paddle
--pta geo
--trackallflows
--trnasfertaintfield
--typesforcontext