--apicalldepth 0 --kobjsens 1 --pta paddle 
--analyzestrings_unfiltered --apicalldepth 0 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 2 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nofallback --nojsa --noscalaropts --nova --preciseinfoflow --pta geo --trackallflows --transfertaintfield --typesforcontext 
--apicalldepth 0 --filetransforms --ignorenocontextflows --imprecisestrings --kobjsens 3 --limitcontextforgui --multipassfb --noclinitcontext --nofallback --noscalaropts --preciseinfoflow --pta spark --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 0 --ignoreexceptionflows --implicitflow --kobjsens 4 --limitcontextforcomplex --limitcontextforstrings --noarrayindex --noclonestatics --nojsa --nova --pta paddle --trackallflows --typesforcontext 
--apicalldepth 0 --ignorenocontextflows --implicitflow --kobjsens 5 --limitcontextforgui --limitcontextforstrings --noclinitcontext --noclonestatics --noscalaropts --nova --pta geo --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 0 --ignoreexceptionflows --imprecisestrings --kobjsens 6 --limitcontextforcomplex --multipassfb --noarrayindex --nofallback --nojsa --preciseinfoflow --pta spark --trackallflows 
--apicalldepth 0 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 18 --multipassfb --noarrayindex --noclinitcontext --noclonestatics --preciseinfoflow --pta paddle --trackallflows --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 1 --filetransforms --imprecisestrings --kobjsens 1 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --nofallback --nojsa --noscalaropts --nova --pta geo 
--apicalldepth 1 --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 2 --noclonestatics --preciseinfoflow --pta spark --trackallflows --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 1 --ignoreexceptionflows --implicitflow --imprecisestrings --kobjsens 3 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --multipassfb --noarrayindex --noclinitcontext --nova --pta paddle --typesforcontext 
--apicalldepth 1 --filetransforms --ignorenocontextflows --imprecisestrings --kobjsens 4 --multipassfb --noclinitcontext --noclonestatics --nofallback --nojsa --noscalaropts --preciseinfoflow --pta geo --trackallflows --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 1 --filetransforms --ignoreexceptionflows --imprecisestrings --kobjsens 5 --limitcontextforcomplex --limitcontextforstrings --multipassfb --noarrayindex --nofallback --nojsa --pta spark --trackallflows --typesforcontext 
--apicalldepth 1 --filetransforms --ignorenocontextflows --implicitflow --kobjsens 6 --limitcontextforgui --limitcontextforstrings --noclinitcontext --noclonestatics --nofallback --noscalaropts --nova --pta paddle --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 1 --imprecisestrings --kobjsens 18 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --noarrayindex --nofallback --nojsa --noscalaropts --nova --pta geo 
--apicalldepth 50 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nova --preciseinfoflow --pta spark --trackallflows --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 50 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --nojsa --noscalaropts --pta paddle 
--apicalldepth 50 --ignoreexceptionflows --kobjsens 3 --limitcontextforcomplex --noarrayindex --noclonestatics --nojsa --preciseinfoflow --pta geo --trackallflows --transfertaintfield --typesforcontext 
--apicalldepth 50 --implicitflow --kobjsens 4 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --multipassfb --noarrayindex --noclinitcontext --nofallback --nova --preciseinfoflow --pta spark --typesforcontext 
--apicalldepth 50 --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 5 --limitcontextforcomplex --limitcontextforgui --nofallback --preciseinfoflow --pta paddle 
--apicalldepth 50 --filetransforms --ignorenocontextflows --kobjsens 6 --limitcontextforstrings --noarrayindex --noclinitcontext --nojsa --pta geo --trackallflows --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 50 --filetransforms --ignoreexceptionflows --implicitflow --kobjsens 18 --limitcontextforcomplex --limitcontextforstrings --pta spark --trackallflows --transfertaintfield --typesforcontext 
--apicalldepth 80 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 80 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 80 --filetransforms --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 3 --limitcontextforgui --noclonestatics --nofallback --noscalaropts --pta spark --trackallflows --typesforcontext 
--apicalldepth 80 --filetransforms --imprecisestrings --kobjsens 4 --limitcontextforgui --limitcontextforstrings --multipassfb --noclinitcontext --noscalaropts --pta paddle --trackallflows --transfertaintfield --typesforcontext 
--apicalldepth 80 --filetransforms --kobjsens 5 --limitcontextforstrings --multipassfb --noarrayindex --noclonestatics --nofallback --nojsa --noscalaropts --nova --preciseinfoflow --pta geo --transfertaintfield 
--apicalldepth 80 --implicitflow --imprecisestrings --kobjsens 6 --limitcontextforcomplex --noarrayindex --noclinitcontext --noclonestatics --nofallback --nojsa --nova --pta geo --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 80 --ignorenocontextflows --imprecisestrings --kobjsens 18 --limitcontextforcomplex --nofallback --nojsa --preciseinfoflow --pta paddle --trackallflows --transfertaintfield 
--apicalldepth 90 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 90 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 90 --ignoreexceptionflows --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 3 --limitcontextforstrings --multipassfb --noarrayindex --noclinitcontext --pta spark --trackallflows --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 90 --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 4 --limitcontextforgui --limitcontextforstrings --noclinitcontext --noclonestatics --nofallback --nojsa --nova --preciseinfoflow --pta paddle --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 90 --kobjsens 5 --limitcontextforcomplex --limitcontextforstrings --multipassfb --nojsa --nova --preciseinfoflow --pta paddle 
--analyzestrings_unfiltered --apicalldepth 90 --implicitflow --kobjsens 6 --limitcontextforcomplex --limitcontextforgui --noarrayindex --noclinitcontext --noclonestatics --nofallback --nova --pta paddle --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 90 --filetransforms --ignorenocontextflows --implicitflow --kobjsens 18 --limitcontextforgui --noarrayindex --noclonestatics --nojsa --noscalaropts --preciseinfoflow --pta spark --transfertaintfield --typesforcontext 
--apicalldepth 100 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 100 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--apicalldepth 100 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 3 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --multipassfb --noclinitcontext --noclonestatics --nojsa --pta spark --typesforcontext 
--apicalldepth 100 --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 4 --limitcontextforstrings --noclinitcontext --nofallback --nova --preciseinfoflow --pta paddle --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 100 --filetransforms --ignorenocontextflows --implicitflow --kobjsens 5 --limitcontextforcomplex --noarrayindex --noclonestatics --nofallback --nojsa --nova --pta geo 
--analyzestrings_unfiltered --apicalldepth 100 --filetransforms --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 6 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --multipassfb --noclonestatics --nofallback --pta paddle --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 100 --ignoreexceptionflows --kobjsens 18 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --noclinitcontext --nofallback --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --transfertaintfield 
--apicalldepth 110 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 110 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--apicalldepth 110 --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 3 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --noclonestatics --nofallback --nojsa --noscalaropts --nova --pta spark --trackallflows 
--apicalldepth 110 --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 4 --noarrayindex --noclinitcontext --pta spark 
--apicalldepth 110 --filetransforms --ignorenocontextflows --implicitflow --kobjsens 5 --limitcontextforstrings --noarrayindex --noclinitcontext --nojsa --preciseinfoflow --pta geo --trackallflows --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 110 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 6 --limitcontextforgui --limitcontextforstrings --multipassfb --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta geo --transfertaintfield 
--apicalldepth 110 --filetransforms --ignorenocontextflows --implicitflow --kobjsens 18 --limitcontextforstrings --multipassfb --noarrayindex --noclonestatics --nojsa --nova --preciseinfoflow --pta geo --trackallflows --transfertaintfield 
--apicalldepth 120 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 120 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--apicalldepth 120 --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 3 --limitcontextforstrings --noclonestatics --nofallback --nojsa --noscalaropts --nova --preciseinfoflow --pta spark --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 120 --kobjsens 4 --limitcontextforcomplex --multipassfb --noarrayindex --noclonestatics --nofallback --noscalaropts --preciseinfoflow --pta spark --trackallflows --typesforcontext 
--apicalldepth 120 --filetransforms --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 5 --limitcontextforstrings --noclinitcontext --nova --pta spark --trackallflows --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 120 --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 6 --limitcontextforcomplex --limitcontextforstrings --nofallback --nojsa --preciseinfoflow --pta spark --trackallflows 
--analyzestrings_unfiltered --apicalldepth 120 --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 18 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nofallback --nojsa --pta geo --trackallflows 
--apicalldepth 150 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 150 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 150 --implicitflow --imprecisestrings --kobjsens 3 --limitcontextforcomplex --limitcontextforgui --multipassfb --noarrayindex --noclinitcontext --nojsa --pta spark --trackallflows 
--analyzestrings_unfiltered --apicalldepth 150 --filetransforms --ignoreexceptionflows --imprecisestrings --kobjsens 4 --limitcontextforgui --noarrayindex --nofallback --noscalaropts --nova --preciseinfoflow --pta paddle --transfertaintfield --typesforcontext 
--apicalldepth 150 --ignoreexceptionflows --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 5 --limitcontextforstrings --multipassfb --noarrayindex --noclinitcontext --nojsa --noscalaropts --pta paddle --trackallflows --transfertaintfield 
--apicalldepth 150 --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 6 --limitcontextforcomplex --limitcontextforstrings --multipassfb --noclinitcontext --nofallback --nova --preciseinfoflow --pta geo --trackallflows --typesforcontext 
--apicalldepth 150 --implicitflow --kobjsens 18 --limitcontextforstrings --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nofallback --nojsa --noscalaropts --nova --pta spark 
--apicalldepth 200 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 200 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--apicalldepth 200 --filetransforms --ignorenocontextflows --imprecisestrings --kobjsens 3 --limitcontextforstrings --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nofallback --pta spark --trackallflows --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 200 --ignoreexceptionflows --kobjsens 4 --limitcontextforgui --limitcontextforstrings --noarrayindex --pta paddle --trackallflows --typesforcontext 
--apicalldepth 200 --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 5 --limitcontextforcomplex --noarrayindex --preciseinfoflow --pta spark --transfertaintfield --typesforcontext 
--apicalldepth 200 --ignoreexceptionflows --ignorenocontextflows --imprecisestrings --kobjsens 6 --limitcontextforgui --limitcontextforstrings --multipassfb --noarrayindex --nofallback --nova --pta paddle --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 200 --ignoreexceptionflows --imprecisestrings --kobjsens 18 --limitcontextforstrings --multipassfb --noclonestatics --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows 
--apicalldepth 600 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --kobjsens 1 --limitcontextforcomplex --multipassfb --noarrayindex --noclinitcontext --noclonestatics --nojsa --noscalaropts --nova --preciseinfoflow --pta paddle --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 600 --imprecisestrings --kobjsens 2 --limitcontextforgui --limitcontextforstrings --nofallback --pta geo --transfertaintfield 
--analyzestrings_unfiltered --apicalldepth 600 --implicitflow --imprecisestrings --kobjsens 3 --limitcontextforcomplex --noclinitcontext --noclonestatics --nofallback --nojsa --nova --preciseinfoflow --pta spark --transfertaintfield --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 600 --filetransforms --ignoreexceptionflows --ignorenocontextflows --implicitflow --imprecisestrings --kobjsens 4 --limitcontextforgui --limitcontextforstrings --multipassfb --noclinitcontext --nofallback --nojsa --nova --preciseinfoflow --pta spark --trackallflows 
--apicalldepth 600 --ignoreexceptionflows --imprecisestrings --kobjsens 5 --limitcontextforcomplex --limitcontextforgui --multipassfb --nofallback --nova --preciseinfoflow --pta geo --transfertaintfield --typesforcontext 
--apicalldepth 600 --filetransforms --ignoreexceptionflows --implicitflow --imprecisestrings --kobjsens 6 --limitcontextforgui --limitcontextforstrings --noarrayindex --noclinitcontext --nofallback --nojsa --pta spark --trackallflows --typesforcontext 
--analyzestrings_unfiltered --apicalldepth 600 --filetransforms --ignoreexceptionflows --kobjsens 18 --limitcontextforcomplex --limitcontextforgui --limitcontextforstrings --noclinitcontext --noclonestatics --noscalaropts --pta paddle 
