--ini config_sitrue_k7.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k7.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k7.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k7.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k7.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k7.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k7.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k7.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k7.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k7.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k8.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k8.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k8.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k8.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k8.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k8.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k8.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k8.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k8.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k8.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k9.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k9.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k9.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k9.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k9.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k9.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k9.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k9.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k9.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k9.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k10.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k10.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k10.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k10.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k10.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k10.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k10.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k10.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k10.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k10.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k20.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k20.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k20.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k20.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k20.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k20.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k20.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k20.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k20.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k20.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k30.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k30.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k30.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k30.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k30.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k30.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k30.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k30.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k30.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k30.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k40.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k40.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k40.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k40.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k40.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k40.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k40.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k40.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k40.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k40.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k50.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k50.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k50.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k50.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k50.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k50.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k50.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k50.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k50.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k50.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k100.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k100.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k100.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k100.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k100.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k100.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k100.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k100.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k100.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k100.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_default.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_default.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_default.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_default.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_default.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_default.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_default.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_default.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_default.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_default.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k1.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k1.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k1.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k1.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k1.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k1.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k1.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k1.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k1.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k1.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k2.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k2.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k2.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k2.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k2.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k2.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k2.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k2.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k2.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k2.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k3.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k3.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k3.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k3.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k3.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k3.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k3.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k3.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k3.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k3.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k4.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k4.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k4.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k4.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k4.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k4.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k4.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k4.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k4.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k4.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k5.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k5.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k5.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k5.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k5.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k5.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k5.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k5.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k5.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k5.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k6.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k6.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k6.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k6.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k6.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k6.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k6.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k6.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k6.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k6.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k7.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k7.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k7.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k7.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k7.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k7.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k7.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k7.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k7.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k7.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k8.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k8.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k8.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k8.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k8.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k8.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k8.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k8.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k8.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k8.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k9.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k9.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k9.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k9.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k9.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k9.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k9.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k9.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k9.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k9.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k10.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k10.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k10.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k10.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k10.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k10.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k10.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k10.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k10.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k10.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k20.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k20.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k20.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k20.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k20.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k20.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k20.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k20.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k20.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k20.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k30.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k30.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k30.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k30.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k30.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k30.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k30.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k30.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k30.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k30.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k40.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k40.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k40.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k40.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k40.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k40.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k40.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k40.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k40.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k40.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k50.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k50.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k50.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k50.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k50.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k50.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k50.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k50.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k50.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k50.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k100.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k100.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sifalse_k100.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k100.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k100.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sifalse_k100.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sifalse_k100.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sifalse_k100.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sifalse_k100.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sifalse_k100.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k1.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k1.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k1.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k1.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k1.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k1.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k1.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k1.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k1.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k1.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k2.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k2.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k2.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k2.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k2.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k2.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k2.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k2.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k2.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k2.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k3.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k3.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k3.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k3.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k3.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k3.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k3.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k3.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k3.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k3.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k4.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k4.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k4.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k4.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k4.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k4.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k4.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k4.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k4.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k4.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k5.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k5.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k5.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k5.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k5.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k5.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k5.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k5.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k5.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k5.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k6.ini --module COMMUNICATION_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k6.ini --module COMMUNICATION_LEAKAGE --approach COMPONENT_BASED 
--ini config_sitrue_k6.ini --module TOKEN_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k6.ini --module TOKEN_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k6.ini --module PASSWORD_TRACKING --approach BOTTOM_UP 
--ini config_sitrue_k6.ini --module PASSWORD_TRACKING --approach COMPONENT_BASED 
--ini config_sitrue_k6.ini --module INTENT_INJECTION --approach BOTTOM_UP 
--ini config_sitrue_k6.ini --module INTENT_INJECTION --approach COMPONENT_BASED 
--ini config_sitrue_k6.ini --module DATA_LEAKAGE --approach BOTTOM_UP 
--ini config_sitrue_k6.ini --module DATA_LEAKAGE --approach COMPONENT_BASED 
