--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k7.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k8.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k9.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k10.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k20.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k30.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k40.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k50.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k100.ini
default, --ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k1.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k2.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k3.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k4.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k5.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k6.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k7.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k8.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k9.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k10.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k20.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k30.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k40.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k50.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sifalse_k100.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k1.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k2.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k3.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k4.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k5.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_sitrue_k6.ini
--ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini --module DATA_LEAKAGE
--ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini --module COMMUNICATION_LEAKAGE
--ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini --module OAUTH_TOKEN_TRACKING
--ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini --module PASSWORD_TRACKING
--ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini --module INTENT_INJECTION
--ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini --approach BOTTOM_UP
--ini /home/asm140830/.amandroid_stash/amandroid/config_default.ini --approach COMPONENT_BASED