--aliasalgo FLOWSENSITIVE --aplength 2 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 1 --maxcallbacksdepth 0 --pathalgo CONTEXTINSENSITIVE --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 3 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 50 --maxcallbacksdepth 0 --nocallbacks --noexceptions --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo LAZY --aplength 4 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 80 --maxcallbacksdepth 0 --noexceptions --pathalgo CONTEXTSENSITIVE --onesourceatatime --pathspecificresults --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo NONE --aliasflowins --aplength 5 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ALL --maxcallbackspercomponent 90 --maxcallbacksdepth 0 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --onecomponentatatime --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 7 --callbackanalyzer FAST --codeelimination NONE --cgalgo GEOM --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 100 --maxcallbacksdepth 0 --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --pathspecificresults --enablereflection --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo PTSBASED --aliasflowins --aplength 10 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 110 --maxcallbacksdepth 0 --nocallbacks --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 20 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 120 --maxcallbacksdepth 0 --nocallbacks --nothischainreduction --pathalgo SOURCESONLY --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aplength 1 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 150 --maxcallbacksdepth 0 --noexceptions --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 2 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ALL --maxcallbackspercomponent 200 --maxcallbacksdepth 0 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo LAZY --aplength 3 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 600 --maxcallbacksdepth 0 --noexceptions --pathalgo CONTEXTINSENSITIVE --onesourceatatime --pathspecificresults --staticmode CONTEXTFLOWSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo NONE --aplength 4 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --implicit ALL --maxcallbackspercomponent 1 --maxcallbacksdepth 1 --nocallbacks --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aplength 5 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 50 --maxcallbacksdepth 1 --noexceptions --pathalgo CONTEXTINSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo PTSBASED --aliasflowins --aplength 7 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 1 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo LAZY --aplength 10 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 90 --maxcallbacksdepth 1 --noexceptions --pathalgo CONTEXTINSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo NONE --aliasflowins --aplength 20 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 100 --maxcallbacksdepth 1 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULTFALLBACK 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 1 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ALL --maxcallbackspercomponent 110 --maxcallbacksdepth 1 --noexceptions --pathalgo SOURCESONLY --pathspecificresults --enablereflection --staticmode NONE --taintwrapper NONE 
--aliasalgo PTSBASED --aplength 2 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 120 --maxcallbacksdepth 1 --noexceptions --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aliasflowins --aplength 3 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ALL --maxcallbackspercomponent 150 --maxcallbacksdepth 1 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --staticmode NONE --taintwrapper NONE 
--aliasalgo NONE --aplength 4 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 200 --maxcallbacksdepth 1 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 5 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo VTA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 600 --maxcallbacksdepth 1 --nocallbacks --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo LAZY --aplength 7 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 1 --maxcallbacksdepth 50 --noexceptions --pathalgo SOURCESONLY --onecomponentatatime --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo NONE --aliasflowins --aplength 10 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ALL --maxcallbackspercomponent 50 --maxcallbacksdepth 50 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo FLOWSENSITIVE --aplength 20 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo GEOM --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 80 --maxcallbacksdepth 50 --noexceptions --pathalgo CONTEXTINSENSITIVE --pathspecificresults --enablereflection --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aplength 1 --callbackanalyzer FAST --codeelimination NONE --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 90 --maxcallbacksdepth 50 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo LAZY --aplength 2 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 100 --maxcallbacksdepth 50 --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --pathspecificresults --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aplength 3 --callbackanalyzer FAST --codeelimination NONE --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 110 --maxcallbacksdepth 50 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 4 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 120 --maxcallbacksdepth 50 --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --pathspecificresults --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo PTSBASED --aliasflowins --aplength 5 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --implicit ALL --maxcallbackspercomponent 150 --maxcallbacksdepth 50 --nocallbacks --noexceptions --nothischainreduction --pathalgo SOURCESONLY --pathspecificresults --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo NONE --aplength 7 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 200 --maxcallbacksdepth 50 --pathalgo CONTEXTSENSITIVE --onecomponentatatime --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 10 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 600 --maxcallbacksdepth 50 --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 20 --callbackanalyzer FAST --codeelimination NONE --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 80 --noexceptions --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 1 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 80 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aplength 2 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 80 --noexceptions --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 3 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 90 --maxcallbacksdepth 80 --nocallbacks --pathalgo SOURCESONLY --staticmode NONE --taintwrapper DEFAULTFALLBACK 
--aliasalgo PTSBASED --aliasflowins --aplength 4 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 100 --maxcallbacksdepth 80 --noexceptions --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --pathspecificresults --staticmode CONTEXTFLOWSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo LAZY --aliasflowins --aplength 5 --callbackanalyzer FAST --codeelimination NONE --cgalgo VTA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 110 --maxcallbacksdepth 80 --nocallbacks --pathalgo CONTEXTINSENSITIVE --onesourceatatime --pathspecificresults --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo NONE --aplength 7 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 120 --maxcallbacksdepth 80 --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --pathspecificresults --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo FLOWSENSITIVE --aplength 10 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 150 --maxcallbacksdepth 80 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --pathspecificresults --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo LAZY --aplength 20 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo VTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 200 --maxcallbacksdepth 80 --nocallbacks --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULTFALLBACK 
--aliasalgo PTSBASED --aplength 1 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 600 --maxcallbacksdepth 80 --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aliasflowins --aplength 3 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo GEOM --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 90 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode NONE --taintwrapper NONE 
--aliasalgo NONE --aplength 4 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 90 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 5 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 90 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo PTSBASED --aliasflowins --aplength 7 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 90 --maxcallbacksdepth 90 --pathalgo CONTEXTINSENSITIVE --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 10 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 100 --maxcallbacksdepth 90 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo NONE --aplength 20 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 110 --maxcallbacksdepth 90 --noexceptions --nothischainreduction --pathalgo SOURCESONLY --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo PTSBASED --aliasflowins --aplength 1 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 120 --maxcallbacksdepth 90 --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 2 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 150 --maxcallbacksdepth 90 --pathalgo CONTEXTSENSITIVE --onecomponentatatime --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 3 --callbackanalyzer FAST --codeelimination NONE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 200 --maxcallbacksdepth 90 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo NONE --aliasflowins --aplength 4 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 600 --maxcallbacksdepth 90 --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --pathspecificresults --enablereflection --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo PTSBASED --aliasflowins --aplength 5 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 100 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo LAZY --aplength 7 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 100 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo NONE --aplength 10 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 100 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULTFALLBACK 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 20 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo GEOM --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 90 --maxcallbacksdepth 100 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aplength 1 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 100 --maxcallbacksdepth 100 --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aplength 2 --callbackanalyzer FAST --codeelimination NONE --cgalgo VTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 110 --maxcallbacksdepth 100 --noexceptions --pathalgo CONTEXTINSENSITIVE --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo NONE --aliasflowins --aplength 3 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 120 --maxcallbacksdepth 100 --nocallbacks --nothischainreduction --pathalgo SOURCESONLY --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 4 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 150 --maxcallbacksdepth 100 --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 5 --callbackanalyzer FAST --codeelimination NONE --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 200 --maxcallbacksdepth 100 --nocallbacks --noexceptions --nothischainreduction --pathalgo SOURCESONLY --pathspecificresults --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo LAZY --aplength 7 --callbackanalyzer FAST --codeelimination NONE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 600 --maxcallbacksdepth 100 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --pathspecificresults --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 10 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo VTA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 110 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo LAZY --aplength 20 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 110 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo NONE --aplength 1 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 110 --nocallbacks --noexceptions --pathalgo CONTEXTINSENSITIVE --onesourceatatime --staticmode NONE --taintwrapper NONE 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 2 --callbackanalyzer FAST --codeelimination NONE --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 90 --maxcallbacksdepth 110 --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo LAZY --aplength 3 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 100 --maxcallbacksdepth 110 --nocallbacks --pathalgo CONTEXTSENSITIVE --onecomponentatatime --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo LAZY --aliasflowins --aplength 4 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --implicit ALL --maxcallbackspercomponent 110 --maxcallbacksdepth 110 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo NONE --aliasflowins --aplength 5 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 120 --maxcallbacksdepth 110 --noexceptions --pathalgo CONTEXTSENSITIVE --pathspecificresults --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo LAZY --aplength 7 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 150 --maxcallbacksdepth 110 --noexceptions --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aplength 10 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 200 --maxcallbacksdepth 110 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo PTSBASED --aplength 20 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 600 --maxcallbacksdepth 110 --nocallbacks --noexceptions --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --enablereflection --staticmode CONTEXTFLOWSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 1 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 120 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 2 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 120 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aliasflowins --aplength 3 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 120 --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --enablereflection --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 4 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 90 --maxcallbacksdepth 120 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo LAZY --aplength 5 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 100 --maxcallbacksdepth 120 --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo PTSBASED --aliasflowins --aplength 7 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 110 --maxcallbacksdepth 120 --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 10 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 120 --maxcallbacksdepth 120 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTSENSITIVE --onecomponentatatime --pathspecificresults --enablereflection --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aplength 20 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 150 --maxcallbacksdepth 120 --nocallbacks --pathalgo SOURCESONLY --onesourceatatime --pathspecificresults --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo LAZY --aliasflowins --aplength 1 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo GEOM --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 200 --maxcallbacksdepth 120 --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo NONE --aliasflowins --aplength 2 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 600 --maxcallbacksdepth 120 --nocallbacks --noexceptions --pathalgo CONTEXTSENSITIVE --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 3 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 150 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 4 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 150 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aplength 5 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 150 --nocallbacks --noexceptions --pathalgo CONTEXTINSENSITIVE --onesourceatatime --pathspecificresults --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 7 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --implicit NONE --maxcallbackspercomponent 90 --maxcallbacksdepth 150 --nothischainreduction --pathalgo CONTEXTSENSITIVE --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo NONE --aliasflowins --aplength 10 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo GEOM --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 100 --maxcallbacksdepth 150 --nothischainreduction --pathalgo CONTEXTSENSITIVE --onecomponentatatime --enablereflection --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo PTSBASED --aliasflowins --aplength 20 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 110 --maxcallbacksdepth 150 --noexceptions --nothischainreduction --pathalgo CONTEXTSENSITIVE --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode NONE --taintwrapper NONE 
--aliasalgo PTSBASED --aliasflowins --aplength 1 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo CHA --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 120 --maxcallbacksdepth 150 --pathalgo CONTEXTINSENSITIVE --onecomponentatatime --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo PTSBASED --aplength 2 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 150 --maxcallbacksdepth 150 --pathalgo CONTEXTSENSITIVE --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aliasflowins --aplength 4 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 200 --maxcallbacksdepth 150 --nocallbacks --noexceptions --pathalgo SOURCESONLY --onecomponentatatime --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULT 
--aliasalgo NONE --aplength 10 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 600 --maxcallbacksdepth 150 --noexceptions --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --staticmode CONTEXTFLOWSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 3 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 200 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 4 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 200 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aliasflowins --aplength 5 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 200 --nothischainreduction --pathalgo CONTEXTINSENSITIVE --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aplength 7 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 90 --maxcallbacksdepth 200 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aplength 10 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo GEOM --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 100 --maxcallbacksdepth 200 --noexceptions --pathalgo CONTEXTSENSITIVE --onesourceatatime --onecomponentatatime --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo NONE --aliasflowins --aplength 20 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 110 --maxcallbacksdepth 200 --nocallbacks --noexceptions --pathalgo SOURCESONLY --onesourceatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo PTSBASED --aplength 1 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 120 --maxcallbacksdepth 200 --noexceptions --nothischainreduction --pathalgo CONTEXTSENSITIVE --onecomponentatatime --pathspecificresults --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aliasflowins --aplength 2 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 150 --maxcallbacksdepth 200 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo PTSBASED --aplength 1 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 200 --maxcallbacksdepth 200 --noexceptions --pathalgo CONTEXTINSENSITIVE --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 7 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 600 --maxcallbacksdepth 200 --nocallbacks --pathalgo CONTEXTINSENSITIVE --onesourceatatime --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper DEFAULTFALLBACK 
--aliasalgo PTSBASED --aliasflowins --aplength 3 --callbackanalyzer DEFAULT --codeelimination NONE --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 1 --maxcallbacksdepth 600 --noexceptions --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo LAZY --aplength 4 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit ARRAYONLY --maxcallbackspercomponent 50 --maxcallbacksdepth 600 --nocallbacks --nothischainreduction --pathalgo CONTEXTSENSITIVE --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo NONE --aplength 5 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 600 --nocallbacks --noexceptions --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --singlejoinpointabstraction --staticmode NONE --taintwrapper EASY -t /home/asm140830/Documents/git/AndroidTAEnvironment/tools/FlowDroid/soot-infoflow-android/EasyTaintWrapperSource.txt 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 7 --callbackanalyzer DEFAULT --codeelimination REMOVECODE --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --implicit NONE --maxcallbackspercomponent 90 --maxcallbacksdepth 600 --pathalgo CONTEXTINSENSITIVE --onecomponentatatime --pathspecificresults --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo NONE --aliasflowins --aplength 10 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo GEOM --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ALL --maxcallbackspercomponent 100 --maxcallbacksdepth 600 --nocallbacks --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --onecomponentatatime --pathspecificresults --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo LAZY --aplength 20 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo AUTO --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 110 --maxcallbacksdepth 600 --noexceptions --nothischainreduction --pathalgo CONTEXTSENSITIVE --enablereflection --singlejoinpointabstraction --staticmode NONE --taintwrapper NONE 
--aliasalgo FLOWSENSITIVE --aplength 1 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo AUTO --dataflowsolver FLOWINSENSITIVE --implicit ALL --maxcallbackspercomponent 120 --maxcallbacksdepth 600 --noexceptions --pathalgo CONTEXTSENSITIVE --enablereflection --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULT 
--aliasalgo FLOWSENSITIVE --aplength 2 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 150 --maxcallbacksdepth 600 --nocallbacks --noexceptions --nothischainreduction --pathalgo SOURCESONLY --onesourceatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWSENSITIVE --taintwrapper NONE 
--aliasalgo PTSBASED --aplength 5 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 200 --maxcallbacksdepth 600 --nothischainreduction --pathalgo CONTEXTSENSITIVE --onesourceatatime --enablereflection --staticmode CONTEXTFLOWSENSITIVE --taintwrapper DEFAULTFALLBACK 
--aliasalgo FLOWSENSITIVE --aliasflowins --aplength 4 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 600 --maxcallbacksdepth 600 --nocallbacks --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --enablereflection --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo LAZY --aliasflowins --aplength 7 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo CHA --dataflowsolver CONTEXTFLOWSENSITIVE --analyzeframeworks --implicit ALL --maxcallbackspercomponent 90 --maxcallbacksdepth 90 --noexceptions --pathalgo CONTEXTSENSITIVE --pathspecificresults --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper DEFAULT 
--aliasalgo PTSBASED --aplength 2 --callbackanalyzer FAST --codeelimination REMOVECODE --cgalgo VTA --dataflowsolver FLOWINSENSITIVE --implicit ALL --maxcallbackspercomponent 80 --maxcallbacksdepth 1 --nocallbacks --nothischainreduction --pathalgo CONTEXTINSENSITIVE --onesourceatatime --onecomponentatatime --pathspecificresults --staticmode NONE --taintwrapper DEFAULTFALLBACK 
--aliasalgo PTSBASED --aplength 1 --callbackanalyzer DEFAULT --codeelimination PROPAGATECONSTS --cgalgo RTA --dataflowsolver FLOWINSENSITIVE --analyzeframeworks --implicit NONE --maxcallbackspercomponent 110 --maxcallbacksdepth 80 --nothischainreduction --pathalgo SOURCESONLY --onecomponentatatime --pathspecificresults --enablereflection --singlejoinpointabstraction --staticmode CONTEXTFLOWINSENSITIVE --taintwrapper NONE 
--aliasalgo PTSBASED --aliasflowins --aplength 5 --callbackanalyzer FAST --codeelimination PROPAGATECONSTS --cgalgo SPARK --dataflowsolver CONTEXTFLOWSENSITIVE --implicit ARRAYONLY --maxcallbackspercomponent 100 --maxcallbacksdepth 50 --nocallbacks --noexceptions --nothischainreduction --pathalgo SOURCESONLY --pathspecificresults --enablereflection --staticmode NONE --taintwrapper DEFAULT 
